# Secrets / env
**/.env
!**/.env.example

# Dependencies
**/node_modules/
**/vendor/
admin/vendor/
admin/admin/vendor/

# Flutter
client/.dart_tool/
client/build/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/android/.gradle/
client/android/app/debug/
client/android/app/profile/
client/android/app/release/
client/ios/Pods/
client/ios/.symlinks/

# OS / IDE
.DS_Store
.idea/
*.log

client/android/.gradle/
admin/composer.phar
*.psd
*.map
