.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

admin/application/cache/*
!admin/application/cache/index.html

admin/application/logs/*
!admin/application/logs/index.html

!admin/application/*/.htaccess

admin/composer.lock
admin/ci_sessions/*

vendor/*

error_log
admin/error_log
user.ini
php.ini
.env