.myborder {
	border:2px dashed #adb7be;
	padding: 8px;
}

.myborder-left {
	border:2px dashed #adb7be;
	padding: 8px;
	text-align: left;
}

.myborder-right {
	border:2px dashed #adb7be;
	padding: 8px;
	text-align: right;
} 

.myborder-center {
	border:2px dashed #adb7be;
	padding: 8px;
	text-align: center;
}

.mytoolbar-left {
	position:relative;
	left:5px;
}

.img-thumb-preview{
	max-width:100px;
	max-height:100px;
}

.profile-thumb-img{
	max-width:50px;
	max-height:50px;
}