.DS_Store
composer.lock
admin/vendor/
admin/contributing.md
admin/note.txt
admin/.editorconfig
admin/application/cache/*
!admin/application/cache/index.html
admin/application/logs/*
!admin/application/logs/index.html
!admin/application/*/.htaccess
admin/composer.lock
admin/ci_sessions/*

vendor/*
error_log
admin/error_log
user.ini
php.ini
.env

api/errors/log/*
!api/errors/log/index.html


api/errors/app_log/*
!api/errors/app_log/index.html

api/errors/*
!api/errors/log
!api/errors/app_log
!api/errors/index.html


admin/assets/upload/*
!admin/assets/upload/index.html

assets/uploads/*
!assets/uploads/index.html

!assets/uploads/profile_images
assets/uploads/profile_images/*
!assets/uploads/profile_images/index.html
assets/icon/*
!assets/icon/index.html
.env

!assets/uploads/signature_images
assets/uploads/signature_images/*
!assets/uploads/signature_images/index.html

!assets/uploads/body_images
assets/uploads/body_images/*
!assets/uploads/body_images/index.html

!assets/uploads/defult.png
.htaccess
error_log
/cgi-bin/*
.well-known
!api/profile/.htaccess


!assets/uploads/local_db
assets/uploads/local_db/*
!assets/uploads/local_db/index.html
!assets/uploads/local_db/default.db
